body {
  background-color: rgb(40, 40, 68);
}

#titleGroup {
  margin: 0;
  font-size: 18px;
  color: black;
  font-family: Verdana;
  font-weight: bolder;
  font-size: 28px;
}

header {
  background-color: rgb(138, 138, 223);
  margin: auto;
  text-align: center;
  padding: 10px 0;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(138, 138, 223);
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: rgb(223, 223, 223);
  border-width: 2px;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-family: Verdana;
  padding: 5px 0;
  font-size: 6px;
  color: rgb(0, 0, 0);
}

.icon {
  margin-bottom: 4px;
  font-size: 14px;
}

.active {
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: #4141e9;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4141e9;
}
::-webkit-scrollbar-track {
  background: #24233b;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}